<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #0093E9;
  background-image: linear-gradient(180deg, #0093E9 5%, #80D0C7 99%);
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

form {
  background: #f7f1e5;
  max-width: 500px;
  width: 85%;
  padding: 58px 44px;
  border: 0px solid #000000;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
}


.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.row label {
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
  color: #6d0000;
}

.row input,
.row textarea {
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  flex: 1;
  padding: 13px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.row input:focus,
.row textarea:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder,
.row textarea::placeholder {
  color: #C8CDDF;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background:#dcdcdc;
  color: #000000;
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}

button:hover {
  background: rgb(70, 47, 131);
}


@media (max-width: 767px) {
  form {
    padding: 40px 20px;
  }
}

@media (max-width: 576px) {
  form {
    padding: 30px 10px;
  }
}

        </style>
    </head>
    <body>
      <form action="/notes/<%=device._id%>?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <h1>Create a new post</h1>
            <div class="row">
              <label for="title">Title:</label>
              <input type="text" name="title" autocomplete="off" required="true" placeholder="Enter a title for your post" value="<%= device.title %>">
            </div>
            <div class="row">
              <label for="content">Content:</label>
              <textarea name="content" rows="11" placeholder="Enter the content of your post" required="true"><%= device.text %></textarea>
            </div>
            <button type="submit">Submit</button>
          </form>
    </body>
</html>