@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #0093E9;
  background-image: linear-gradient(180deg, #0093E9 5%, #80D0C7 99%);
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  margin-top: 48px;
  color: rgb(0, 0, 0);
}

h2 {
  font-family: 'Libre Baskerville', serif;
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-top: 20px;
}

h5 {
  color:rgb(0, 0, 0);
}

form {
  background: #fff;
  max-width: 360px;
  width: 100%;
  padding: 58px 44px;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.row label {
  align-self: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 13px;
  color: #6d0000;
}

.row input {
  align-self: center;
  justify-content: center;
  flex: 1;
  padding: 13px;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder {
  align-self: center;
  color: #C8CDDF;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background:#dcdcdc;
  color: #000000;
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}

button:hover {
  background: rgb(70, 47, 131);
}

#signup-button{
  background: rgb(148, 135, 138);
}

@media (max-width: 767px) {
  form {
    padding: 40px 20px;
  }
}

@media (max-width: 576px) {
  form {
    padding: 30px 10px;
  }
}
